.app-container {
    display: flex;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .box-container {
    display: flex;
    justify-content: space-between;
  }
  
  .box {
    width: calc(25% - 20px); /* 25% width minus spacing */
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .box1 {
    width: calc(25% - 20px); /* 25% width minus spacing */
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .image-container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
  }