.btn2 {
    background: #0CB8B6;
   margin-left: 40px;
    border-radius: 6px;
    font-family: Arial;
    border-color: #0CB8B6;
    color: white;
    font-size: 20px;
    width:120px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

  }